# pihole
pihole/list.*
pihole/*.db
pihole/migration_backup/*

#klipper
klipper/klipper-*

#klippain
klipper/voron/config/*
klipper/voron/moonraker/*
klipper/voron/macros/*
klipper/voron/scripts/*


#any
*.bkp
*old*
*.bak
/klipper/moonraker.realsecrets


#themes
**/.theme/*
