#####################################################################
#   Bed Heater
#####################################################################
[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 20,20
mesh_max: 340,340
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
zero_reference_position: 175, 175 


[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: MANTA_BED_HEATER_PIN 
sensor_type: Generic 3950 # NTC 100K MGB18-104F39050L32
sensor_pin: MANTA_BED_SENSOR_PIN # TB Position
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_Kp:40.452
pid_Ki:1.419
pid_Kd:288.223

[bed_mesh default]
version = 1
points =
	  -0.386649, -0.061649, -0.054149, -0.154149, -0.314149
	  -0.324149, -0.066649, 0.035851, -0.101649, -0.326649
	  -0.329149, -0.091649, 0.000851, -0.141649, -0.339149
	  -0.391649, -0.149149, -0.079149, -0.124149, -0.344149
	  -0.409149, -0.171649, -0.119149, -0.099149, -0.409149
x_count = 5
y_count = 5
mesh_x_pps = 2
mesh_y_pps = 2
algo = bicubic
tension = 0.2
min_x = 20.0
max_x = 340.0
min_y = 20.0
max_y = 340.0
