#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: ebb36:MCU_TMCDRIVER_STEP
dir_pin: ebb36:MCU_TMCDRIVER_DIR
enable_pin: !ebb36:MCU_TMCDRIVER_ENABLE

## orbiter V2 config
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120

pressure_advance: 0.025                         #to be calibrated
pressure_advance_smooth_time: 0.03     #to be calibrated

##      In E0 OUT Position
heater_pin: ebb36:MCU_HOTEND0
sensor_type: MAX31865#ATC Semitec 104GT-2
sensor_pin: ebb36:MCU_SPI1_CS # TE0 Position
# spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 10
max_extrude_cross_section: 5 #required by KAMP

spi_speed: 1000000
#   The SPI speed (in hz) to use when communicating with the chip.
#   The default is 4000000.
spi_software_miso_pin: ebb36:MCU_SPI1_MISO
spi_software_mosi_pin: ebb36:MCU_SPI1_MOSI
spi_software_sclk_pin: ebb36:MCU_SPI1_SCLK
control: pid
pid_Kp:22.706 
pid_Ki:1.781
pid_Kd:72.374


##	In E0-MOT Position
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: ebb36:MCU_TMCDRIVER_UART
run_current: 0.650
stealthchop_threshold: 999999
interpolate: true
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

